<ion-header>
  <ion-toolbar>
    <ion-title>Panel Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Hotel</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="nombreHotel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
      <ion-text color="success" *ngIf="guardado">Guardado ✔</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>