<ion-header>
  <ion-toolbar>
    <ion-title>Hotel Pacific</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/reservas">Reservas</ion-button>
      <ion-button routerLink="/admin">Admin</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido, {{ usuario }} 👋</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Explora habitaciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Gestiona tus reservas o revisa el panel de administración.</p>
      <ion-button routerLink="/reservas" expand="block" color="primary">Ir a Reservas</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
