<ion-header class="site-header">
  <ion-toolbar color="light">
    <div class="container navbar">
      <div class="brand">
        <ion-icon name="settings-outline"></ion-icon>
        <span>Panel de Administración</span>
      </div>
        <nav class="menu">
        <a routerLink="/admin">Dashboard</a>
        <a routerLink="/admin/usuarios">Usuarios</a>
        <a routerLink="/admin/reservas">Reservas</a>
        <a routerLink="/admin/habitaciones" routerLinkActive="active">Habitaciones</a>
        <a routerLink="/admin/reportes">Reportes</a>
        <a routerLink="/home">Volver al sitio</a>
      </nav>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="site-content ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido Administrador</ion-card-title>
      <ion-card-subtitle>Selecciona una sección para gestionar:</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <div class="grid">
    <ion-card *ngFor="let c of cards" [routerLink]="c.route" class="admin-card">
      <ion-card-header>
        <ion-icon [name]="c.icon" class="big"></ion-icon>
        <ion-card-title>{{ c.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ c.desc }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
